<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class class="not-found content">
        <h2> OUPS 404 : PAGE NOT FOUND </h2>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>